@{
    ViewBag.Title = "Reset Password";
    Layout =  "~/Views/Shared/_UnauthorizedLayout.cshtml";
}
@model Daycareinator.Models.ForgotPasswordModel

<h2 class="heading">@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
         
   
    @Html.Bootstrap().ControlGroup().PasswordFor(m => m.NewPassword)
    @Html.Bootstrap().ControlGroup().PasswordFor(m => m.ConfirmPassword)
       
    @Html.HiddenFor(m => m.UserName)
    @Html.HiddenFor(m => m.Token)
           
    <button type="submit" class="btn">Submit</button>
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
